<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<!--@author ZhuChengxiao-->
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <connectionStrings>
    <add name="ConnectionStringName" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=FIT5192A2;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>